<!DOCTYPE html>
<html>
  <head>
    <title>Self-applause</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a class="title" href="/">Self-applause👏</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
           <span><%= current_user.firstname %>
            <ul class="user__info">
                <span class="Signout"><%= link_to "Signout", destroy_user_session_path, method: :delete %></span>
            </ul>
          </span>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "Signup", new_user_registration_path, class: 'Signup' %>
          <%= link_to "Signin", new_user_session_path, class: 'Signin' %>
        </div>
      <% end %>
    </div>
  </header>

    <%= yield %>

    <footer>
      <p class="footer">
        Copyright Self-applause 2019.
      </p>
    </footer>
  </body>
</html>